<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form>
        <h1 class="titulo">CONTROL USERS</h1>
        <h2 class="subtitulo">Gestão Ágil no controle de usuários e acesso a informações</h2>

        <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">

        <app-button textButton="Acessar" size="100" (click)="login()"></app-button>
    </form>

    <p class="footer"> © 2025 | Desenvolvido por <a href="" target="">Miguel Garcia</a></p>

</div>